@import "mixins.scss";
@import "variables.scss";
//2
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/header-promo.scss";
@import "blocks/main-content.scss";
@import "blocks/features.scss";
@import "blocks/facts.scss";
@import "blocks/reviews.scss";
@import "blocks/prices.scss";
@import "blocks/main-footer.scss";
@import "blocks/footer-contacts.scss";
@import "blocks/map.scss";
@import "blocks/footer-social.scss";
//3
@import "global/normalize.scss";
@import "global/fonts.scss";
@import "global/scaffolding.scss";

