.footer-contacts {
	width: 320px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 35px;
}

.footer-contacts__contacts-title {
	font-family: $font-light;
	font-size: 24px;
	line-height: normal;
	color: $base-text-color;
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px;
}

.footer-contacts__wrapper {
	margin-bottom: 13px;
}

.footer-contacts__tel {
	margin-bottom: 19px;
}

.footer-contacts__email {
	margin-bottom: 22px;
}

.footer-contacts__title {
	font-family: $font-bold;
	font-size: 18px;
	line-height: normal;
	color: $base-text-color;
	font-weight: bold;
	text-align: center;
	font-weight: bold;
}

.footer-contacts__text {
	font-family: $font-light;
	font-size: 24px;
	line-height: normal;
	color: $pink-text-color;
	font-weight: 300;
	text-align: center;
}

.footer-contacts__adress .footer-contacts__text {
	padding: 0 15px;
}

@media #{$tablet-widths} {
	
	.footer-contacts {
		width: 700px;
	}
	
	.footer-contacts__contacts-title {
		font-size: 40px;
		padding: 0 72px;
    margin-bottom: 35px;
	}
	
	.footer-contacts__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content:space-around;
    margin-bottom: 19px;
	}
  
  .footer-contacts__adress {
    margin-top: 27px;
  }
	
	.footer-contacts__adress .footer-contacts__text {
		padding: 0px 210px;
	}
}

@media #{$desktop-widths} {
		
	.footer-contacts {
			width: 1200px;
			margin-top: 0;
	}
	
	.footer-contacts__contacts-title {
		font-size: 50px;
		line-height: 55px;
		padding: 0px 328px;
		margin-bottom: 59px;
  }
	
	.footer-contacts__wrapper {
		flex-wrap: nowrap;
		justify-content:center;
    margin-bottom: 12px;
	 }
	
	.footer-contacts__title {
		margin-bottom: 22px;
	}
	
	.footer-contacts__item {
		margin-left: 97px;
    margin-right: 77px;
	}
	
	
	.footer-contacts__email {
		order: 1;
	}
	
	.footer-contacts__adress {
		margin: 0;
		width: 212px;
		margin-left: 34px;
	}
	
	.footer-contacts__adress .footer-contacts__text {
		padding: 0;
	}
	
	
}