.header-promo__promo-block {
	position: relative;
	width: 320px;
  min-height: 462px;
  background: url(../img/iphone-5-in-hand-png.png) 0 176px no-repeat ,$alternative-background url(../img/back-mobile@1x.jpg) 0 0 no-repeat;
}

.header-promo__toggle-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	top: 3px;
	left: 0;
	width: 100%;
	min-height: 66px;
	background-color: rgba( $alternative-background, .5 );
	&::before {
		content: '';
		width: 75px;
		height: 22px;
		margin-left: 20px;
		background: url(../img/logo-pink-white-mobile.svg) 0 0 no-repeat;
	}
}

.header-promo__burger-btn {
	width: 50px;
	height: 24px;
	border: none;
	margin-right: 20px;
	padding: 0;
	background: transparent url(../img/icon-menu-burger.svg) 0 0 no-repeat;
	cursor: pointer;
}

.header-promo__promo-info {
  width: 320px;
  min-height: 271px;
  padding-top: 1px;
  background-color: $alternative-background;
}

.header-promo__title {
  display: none;
}

.header-promo__btn {
  display: block;
  width: 282px;
  height: 55px;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 32px;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $secondary-text-color;
  box-sizing: border-box;
  border: 3px solid $base-background;
  border-radius: 25px;
  background-color: $alternative-background;
  cursor: pointer;
}

.header-promo__device-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 207px;
  margin: 0 auto;
  margin-bottom: 21px;
}

.header-promo__text {
  width: 233px;
  margin: 0 auto;
  font-family: $font-light;
  font-size: 14px;
  line-height: 24px;
  color: $secondary-text-color;
  text-align: center;
}


@media #{$tablet-widths} {
  
  .header-promo {
     position: relative;
  }
  
  .header-promo__promo-block {
    width: 700px;
    min-height: 728px;
    background: url(../img/iphone-5-in-hand-png-tab.png) 0 183px no-repeat ,$alternative-background url(../img/back-tablet@1x.jpg) 0 0 no-repeat;
  }
	
	.header-promo__toggle-block {
		top: 0;
		min-height: 108px;
		&::before {
			content: '';
			width: 147px;
			height: 40px;
			margin-left: 40px;
			background: url(../img/logo-pink-white-tablet.svg) 0 0 no-repeat;
		}
		&::after {
			margin-right: 40px;
		}
	}

	.header-promo__toggle-block-logo {
		width: 147px;
		height: 40px;
		margin-left: 40px;
		background: url(../img/logo-pink-white-tablet.svg) 0 0 no-repeat;
  }

	.header-promo__humburger {
		margin-right: 40px;
	}
	
	.header-promo__promo-info {
    position: absolute;
    width: 320px;
		top: 196px;
    left: 32px;
    background-color: transparent;
  }
  
  .header-promo__title {
    display: block;
    font-family: $font-light;
    font-size: 40px;
    line-height: 50px;
    color: $secondary-text-color;
    font-weight: 300;
    text-align: center;
    padding: 0 50px;
  }
    
  .header-promo__btn {
    width: 300px;
		margin-bottom: 46px;
    background-color: transparent;
  }
	
	.header-promo__device-icons {
		margin-bottom: 35px;
	}
	
	.header-promo__text {
		width: 320px;
		font-size: 19px;
    line-height: 24px;
	}
}

@media #{$desktop-widths} {
	
	.header-promo__promo-block {
    width: 1200px;
    min-height: 854px;
    background: url(../img/iphone-5-in-hand-png-desk.png) 148px 209px no-repeat ,$alternative-background url(../img/back-desktop@1x.jpg) 0 0 no-repeat;
  }
	
	.header-promo__toggle-block {
		display: none;
	}
	
	.header-promo__promo-info {
    top: 214px;
    left: 122px;
  }
	
	.header-promo__title {
    font-size: 50px;
		padding: 0 36px;
		line-height: 62px;
	}
	
	.header-promo__btn {
		margin-top: 48px;
		font-size: 21px;
		margin-bottom: 71px;
  }
	
	.header-promo__device-icons {
		margin-bottom: 51px;
	}
	
}